@import '../../@theme/styles/themes';

@include nb-install-component() {
  ngx-historygraph,
  {
    display: block;
    height: nb-theme(card-height-xlarge);
    width: 100%;

    /deep/ chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
