<!-- <div style="width: 80%;">
    <jqxNavBar id="navBar1" [height]="40" [selectedItem]="0" [columns]="['30%', '50%', '20%']">
      <ul>
        <li>1
        </li>
        <li>2</li>
        <li>3</li>
      </ul>
    </jqxNavBar>
</div> -->
<jqxDropDownList [theme]="'material'" (onChange)="seriesOnChange($event)"
    [width]="getWidth()" [height]="30" [selectedIndex]="-1"
    [dropDownHeight]="100" [source]="sensorList">
</jqxDropDownList>
<jqxDateTimeInput [theme]="'material'" #myDateTimeInput (onChange)="dateOnChange()"
    [width]="getWidth()" [height]="30" [selectionMode]="'range'">
</jqxDateTimeInput>
<jqxChart #myChart
    [width]="getWidth()" [height]="500"
    [title]="'Temperature trend'"
    [description]="'Remote sensor temperature compared to valve temperature'"
    [showLegend]="true" [enableAnimations]="true" [padding]="padding"
    [titlePadding]="titlePadding" [source]="data" [xAxis]="xAxis"
    [valueAxis]="valueAxis" [seriesGroups]="seriesGroups" [colorScheme]="'scheme02'">
</jqxChart>
<router-outlet></router-outlet>
